.banner-wrap{
    height: 90vh;
    position: relative;
    @media screen and (max-width: $break-small) {
		height: 100vh;
        padding-top: 150px;
        margin-bottom: 100px;
	   }
    .home-slick-slider{
        height: 100%;
        .banner{
            height: 100%;
            display: flex;
            align-items: center;
            height: 100vh;
            @media screen and (max-width: $break-small) {
                flex-direction: column;
            }
            .banner-text{
                flex-direction: column;
                height: 100%;
                padding: 100px 30px 40px;
                animation: fadeOut 0.2s;
                @media screen and (max-width: $break-small) {
                    padding-top: 60px;
                }
                .banner-title{
                    h1{
                        text-shadow:-0.0375em -2px 0 #303030ad ;
                        @media screen and (max-width: $break-small) {
                            font-size: 24px;
                    
                           }
                    }
                }
                .price-button{
                    font-weight: 800;
                    font-size: 42px;
                   .price{
                    display: inline-block;
                        span{
                            font-size: 200;
                            font-size: 14px;
                            
                        }
                        
                   }
                   .fc-btn{
                        float: right;
                    }
                    
                }
            }
            .banner-image{
                transition: all 0.7s linear;
                .item-image-holder{
                    padding-bottom: 100%;
                    transition: all 0.7s linear;
                    @media screen and (max-width: $break-small) {
                        padding-bottom: 100%;
                        width:100%;
                        margin: 0 auto;
                       }
                }
            }
            &.slick-active{
                .banner-text{
                    animation: fadeInUp 0.7s linear 1;
                }
                .banner-image{
                    transform: scale(1.5);
                    @media screen and (max-width:$break-small) {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .slick-dots{
            text-align: left;
            width: auto;
            left: 20%;
            @media screen and (max-width:$break-small) {
                left: auto;
                right: 5%;
            }
            li{
                width: 50px;
                @media screen and (max-width:$break-small) {
                  display: block;
                }
                button{
                    &:before{
                        content: "";
                        width: 50px;
                        height: 2px;
                        background-color: $text-color;
                        position: absolute;
                        opacity: 1;
                        margin: 0 0;
                        transition: all 0.6s linear;
                    }
                }
               &.slick-active{
                button{
                    &:before{
                      
                        background-color: $primary-color;
                        
                    }
                }
               }
            }
        }
    }
    &:after{
        content: "";
        position: absolute;
        background-image: url(../images/Mask-Group-1@2x.jpg);
        top: 0;
        width: 50%;
        height: 100%;
        right: 0;
        z-index: -1;
        background-size: cover;

    }
    
}

.fc-offer-section {
    .fc-offer-wrap{
    
        .offer-slider{
            .offer-single{
                display: flex;
                align-items: center;
                background-color: $primary-color;
                padding:20px 0px;
                .offer-img{
                    width: 50%;
                    position: relative;
                    .offer-price{
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        top: 0;
                        right: -5%;
                        border-radius: 50%;
                        color: white;
                        background-color: red;
                        line-height: 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span{
                            display: block;
                            line-height: 2;
                        }
                    }
                }
                .offer-content{
                    width: 50%;
                    .fc-btn{
                        background-color:#eff4fa;
                        &:hover{
                            background-color: $primary-color;
                            color: white;
                            font-weight: 600;
                        }
                    }
                }
                &:nth-child(2n){
                    background-color:#eff4fa;
                    .fc-btn{
                        background-color:$primary-color;
                        &:hover{
                            background-color: #eff4fa;
                            color: $primary-color;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    
    
}
.fc-steps-section{
    @include title;
    .fc-step-wrap{
        
        .fc-step-single{
            text-align:center;
            cursor: pointer;
            .step-img{
                width: 75%;
                margin: 0px auto 20px;
                position:relative;
                .item-image-holder{
                    padding-bottom: 100%;
                    width: 80%;
                    margin: 0 auto;
                }
                &:after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    left: 0;
                    border-radius: 50%;
                    background-color: #f9d22f;
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    transition: all 0.6s linear;
                    box-shadow: 2px 2px 10px 2px #ddd;
                }
                &:hover{
                    .item-image-holder{
                        animation: wobble 1s linear 1;
                    }
                    &:after{
                       transform: rotateX(20deg);
                    }
                }
            }
            .step-text{
                padding:30px 0px 5px;
                position: relative;
                
                h4{
                    color: #353c50;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 31px;
                    position: relative;
                    padding-bottom: 10px;
                    letter-spacing: .5px;
                    &::after{
                        content: "";
                        position: absolute;
                        width: 60px;
                        height: 2px;
                        background-color: $primary-color;
                        right: 35%;
                        bottom: 0;
                    }
                }
                p{
                    font-weight: 500;
                    color: #353c50;
                    font-size: 16px;
                    font-family: $font-primary;
                }
            }
        }
    }
}
.about-section{
    background-color: $primary-color;
    background-image: url(../images/bg_about-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    .about-wrap{
        @include title;
        position: relative;
        .section-content{
            .section-title{
                text-align: left;
                margin-bottom: 5px;
            }
            p{
                color: black;
            }
            .fc-btn{
                background-color: #eff4fa;
                
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
            }
        }
        &::after{
            content: "";
            position: absolute;
            
        }
    }
    .counter-wrap{
        @media screen and (max-width: $break-small) {
            @include responsivescroll;
           }
        .counter-single{
            width: 50%;
            padding: 20px;
            float: left;
            align-items: center;
            display: flex;
        
            .icon-holder{
                width: 50px;
                height: 50px;
                float: left;
                z-index:20;
                position: relative;
                &::before{
                    content: "";
                    width: 70px;
                    height: 70px;
                    background-color: white;
                    position: absolute;
                    bottom: -6px;
                    left: -10px;
                    border-radius: 50%;
                    z-index: -1;    

                }
            }
            .counter-content{
                padding:10px 20px;
                float:right;
                h1{
                    color: white;
                    margin-bottom: 5px;
                    font-size: 35px;
                }
                h6{
                    color: white;
                    font-size: 18px;
                }   
            }
            &.mb-scroll-container{
                min-width: 250px;
            }           
        }
    }
    
}
.menu-gallery-section{
    padding-top:0 ;
    .gallery-menu-slider{
        position: relative;
        cursor: pointer;
        .menu-image{
            .item-image-holder{
                margin-bottom: 0;
            }
        }
        &:before{
            content: "View Our Menu";
            position: absolute;
            width: auto;
            height: auto;
            left: 40%;
            top: 40%;
            color: white;
            z-index: 10;
            transition: all 0.3s linear;
            font-size: 50px;
            font-weight: 600;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
            @media screen and (max-width: $break-small) {
                    left: 25%;
                    font-size: 30px;
               }

        }
        &::after{
            content: "";
            background-color: black;
            opacity: 0.4;
            transition: all 0.3s linear;
            position: absolute;
            left: 0;
            top:0;
            width: 100%;
            height: 100%;
        }
        &:hover{
            &:before{
                display: none;   
            }
            &::after{
                opacity: 0;
                width: 0;
                height: 0;  
            }
        }
    }
  
}
.make-section{
    .make-wrap{
        @include title;
        position: relative;
        .make-single{
            width: 50%;
            float: right;
            @media screen and (max-width: $break-small) {
                width: 100%;
                float: none;
           }
            .item-image-holder{
                padding-bottom: 100%;
            }
        }
        .pizza-item-list{
            float: left;
            @media screen and (max-width: $break-small) {
                width: 100%;
                float: none;
           }
            ul{
                list-style: none;
                li{
                   
                }
            }
        }
    }
}
.mobile-section{
    .mobile-wrap{
        @include title;
        .app-wrapper{
            position: relative;
            .app-main-phone{
                width: 60%;
                float: right;
                position: relative;
                @media screen and (max-width: $break-small) {
                    width: 100%;
                    float: none;
                    margin-bottom: 20px;
               }
                .item-image-holder{
                    padding-bottom: 58%;
                    width: 50%;
                    margin: 0 auto;
                    // &::after{
                    //     content: "";
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 50%;
                    //     background-color: $primary-color;
                    //     z-index: -1;
                    //     left: 0;
                    //     border-radius: 50%;
                    //     top:50%
                    // }
                }
                
                .app-button-grp{
                 
                    ul{
                        li{
                            width: 50%;
                            float: left;

                            .item-image-holder{
                                width: 60%;
                                padding-bottom: 18%;
                            }
                            &:first-child{
                                .item-image-holder{
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
            .app-feature-wrap{
               width: 40%;
               float: left;  
                @media screen and (max-width: $break-small) {
                        width: 100%;
                        float: none;
                }      
               .app-feature{
                   padding-left: 30px;
                   position: relative;
                   margin-bottom: 40px;
                   &::before{
                       content: "";
                       width: 15px;
                       height: 15px;
                       left: 0;
                       top: 10px;
                       position: absolute;
                       background-color: $primary-color;
                       border-radius: 50%;
                   }
                   h3{
                       margin-bottom: 5px;
                   }
               }        
            }
        }
    }
}
.testimonial-section{
    background-color: $secondary-color;
    .testimonial-wrap{
        @include title;
        .section-content{
            
            .client-slider{
               
                .client-single{
                 padding: 10px;
                 margin-top: 30px;
                    .client-content{
                        padding: 30px;
                        background-color: white;
                        .entry-container{
                            display: flex;
                            .client-image{
                                width: 10%;
                                border-radius: 50%;
                                .item-image-holder{
                                    padding-bottom: 100%;
                                    border-radius: 50%;
                                }
                            }
                            .client-details{
                                margin-left: 20px;
                                h3{
                                    margin-bottom: 5px;
                                    font-size: 22px;
                                }
                                .rating{
                                    ul{
                                        margin-left: 0;
                                        li{
                                            display: inline-block;
                                            .fa{
                                                color: #f9d22f;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:focus{
                        outline: none;
                    }
                    &:active{
                        outline: none;
                    }
                }
                button{
                    &.slick-arrow{
                        top: 0%;
                        z-index: 999;
                        width: 60px;
                        height:60px;
                        box-shadow: 2px 2px 10px 2px #ddd;
                        background-color: white;
                        transition: all 0.3s linear;
                        border-radius: 50%;
                        &.slick-next {
                            right: 5%;
                            &:before {
                                content: url(../images/arrow-r.png);
                           
                                
                            }
                        }
                        &.slick-prev {
                            left: auto;
                            right: 10%;
                            &:before {
                                content: url(../images/arrow-l.png);
                                
                            }
                            @media screen and (max-width: $break-small) {
                                right: 25%;
                           }
                        }
                        &:hover{
                            box-shadow: none;
                        }
                    }
                }
            }
        }   
       
    }
}
.newsletter-section{
    background-image: url(../images/bg_subscribe.jpg);
    .newsletter-form{
        text-align: center;
        @include title;
        form{
            width: 60%;
            margin: 30px auto;
            
            position: relative;
            @media screen and (max-width: $break-small) {
                width: 90%;
           }
            input{
                border-radius: 40px;
                &[type="submit"]{
                    position: absolute;
                    top:-2px;
                    right: 0;
                    @media screen and (max-width: $break-small) {
                        position: relative;
                        top:auto;
                        float: right;
                   }
                }
            }
        }
    }
}
footer{
    background-color: $secondary-color;
    .footer-widgets{
        .footer-menu{
            text-align:center;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
            ul{
                li{
                    display: inline-block;
                    padding: 15px;
                    a{
                        color:#000;
                        font-weight: 600;
                        display: block;
                    }
                }
            }
        }
        .copyright{
            padding: 10px;
            text-align:center;
            p{
                color: #b2b0b0;
            }
        }
        .social-menu{
            text-align:center;
            ul{
                li{
                    display: inline-block;
                    padding: 15px;
                    a{
                        color: #b2b0b0;
                        .fa{
                            color: #b2b0b0;
                        }
                    }
                }
            }
        }
    }
}