.style-rounded {
	border-radius: 5px;
}

.style-shadow {

	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1)
}

.site-header{
	padding-top: 50px;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
	z-index: 1000;
	@media screen and (max-width: $break-small) {
		// position: relative;
	   }
	.site-branding{
		#logo{
			display: flex;

			.custom-logo-link{
				float: left;
				width: 50%;
				padding: 0px 10px 20px;
				margin-right:50px;
				img{
					object-fit: contain;
				}
			}
			.head-call{
				display: flex;
				position: relative;
				z-index: 2;
				.fas{
					float: left;
					font-size: 20px;
					transform: rotate(-45deg);
					position: relative;
					text-align: center;
				}
				.call-num{
					padding:0px 5px;
					span{
						display: block;
						line-height: 1;
					}
					a{
						color: $text-color;
						line-height: 1;
						font-size: 16px;
						font-weight: 800;
						line-height: 26px;
						line-height: 1.625em;
					}
				}
				&::after{
					content: "";
					width: 40px;
					position: absolute;
					height: 40px;
					background: $primary-color;
					border-radius: 50%;
					z-index: -1;
					top:-5%;
					left: -25%;
				}
			}
		}
	}
	.site-header-menu {
		z-index: 9999;
		width: 100%;
		margin-top: 0;
		top:0;
		text-align:right;
		.main-navigation {
			height: 100%;
			align-items: center;
			display: flex;
			@media screen and (max-width: $break-small) {
				display: none;
			   }
			ul {
				margin: 0;
				padding: 0;
				width: 100%;
	
				ul {
					
					display: block;
					margin: 0;
					min-width: 220px;
					top: 80px;
					opacity: 0;
					float: left;
					position: absolute;
					right: -999em;
					z-index: 99999;
	
					ul {
						right: 100%;
						top: 0;
						left: inherit;
	
						&::after {
							content: none;
						}
	
						ul {
							display: none;
						}
	
						li {
							&:hover {
								>ul {
									display: block;
								}
							}
						}
					}
	
					li {
						&:hover {
							>ul {
								right: 100%;
							}
						}
	
						&:last-child {
							>a {
								border: none;
							}
						}
					}
	
					&::after {
						content: "";
						display: block;
						position: absolute;
						top: -5px;
						
						z-index: 9999;
						right: 32px;
						transform: rotate(45deg);
						
						height: 12px;
						width: 12px;
					}
	
					a {
						border-bottom: 1px solid #398bb9;
						transition: padding 0.2s ease-in-out 0s;
						color: #fff;
						height: auto;
						padding: 10px 15px 10px 30px;
						text-align: left;
						font-size: 14px;
						font-weight: normal;
						text-transform: capitalize;
					}
				}
	
				>li {
					&:hover {
						>ul {
							right: 0;
							z-index: 9999;
							opacity: 1;
							display: block;
							-moz-animation: fadeInUp 0.3s ease-in;
							-webkit-animation: fadeInUp 0.3s ease-in;
							animation: fadeInUp 0.3s ease-in;
						}
					}
				}
	
				li {
					float: revert;
					transition: all 0.3s linear;
					border-bottom: 2px solid transparent;
					&:hover {
						border-bottom: 2px solid $text-color;
					}
	
					a {
						color: #000;
						display: block;
						font-size: 14px;
						padding: 10px 10px;
						z-index: 99;
						font-weight: 600;
						letter-spacing: 0.5px;
						text-transform: uppercase;
						webkit-transition: all 0.3s ease-in-out;
						-moz-transition: all 0.3s ease-in-out;
						-ms-transition: all 0.3s ease-in-out;
						-o-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;
	
						
	
					}
	
					li.menu-item-has-children {
						>a {
							&::after {
								content: "\f104";
								top: 10px;
								left: 10px;
								margin-right: 10px;
								float: left;
								right: inherit;
								margin-left: 0;
							}
						}
					}
	
					li.page_item_has_children {
						>a {
							&::after {
								content: "\f104";
								top: 10px;
								left: 10px;
								margin-right: 10px;
								float: left;
								right: inherit;
								margin-left: 0;
							}
						}
					}
				}
	
				li.menu-item-has-children {
					>a {
						&::after {
							content: "\f107";
							font-family: FontAwesome;
							margin-left: 7px;
							margin-right: 0;
							float: right;
							position: absolute;
							right: 7px;
							right: 0;
						}
					}
	
				}
	
				li.page_item_has_children {
					>a {
						&::after {
							content: "\f107";
							font-family: FontAwesome;
							margin-left: 7px;
							margin-right: 0;
							float: right;
							position: absolute;
							right: 7px;
							right: 0;
						}
	
						padding-right: 30px;
					}
				}
	
				li.menu-item-has-childrenv {
					>a {
						padding-right: 30px;
					}
				}
			}
	
			li {
				position: relative;
				display: inline-block;
				margin-bottom: 0;
				float: left;
	
				li {
					float: none;
					display: block;
	
					>a {
						&:hover {
							&::before {
								display: none;
							}
						}
					}
	
					&:hover {
						>a {
							&::before {
								display: none;
							}
						}
					}
				}
	
				>a {
					&:hover {
						color: $text-color;
					}
				}
	
				&:hover {
					>a {
						color: $text-color;
					}
				}
	
				ul.sub-menu {
					li {
						a {
							opacity: 0.6;
							transition: all 0.3s linear;
						}
	
						&:hover {
							>a {
								color: whitesmoke;
								opacity: 1;
							}
						}
					}
				}
	
				li.current-menu-item {
					>a {
						&::before {
							display: none;
						}
					}
				}
			}
	
			li.current-menu-item {
				>a {
					color: $text-color;
				}
			}
	
			li.current_page_item {
				>a {
					color: $text-color;
	
					&::before {
						display: none;
					}
				}
			}
	
			.menu-toggle {
				display: none;
			}
	
			.dropdown-toggle {
				display: none;
			}
		}
	
	}
}


.search-content {
	@media screen and (max-width: $break-small) {
		display: none;
	}
	.search-icon {
		button {
			display: inline-block;
			background-color: transparent;
			border: none;
			width: 20%;
			float: right;

			.fa {
				font-size: 20px;
			}

			&:focus {
				border: none;
				outline-color: transparent;
				border: none;
				outline-color: transparent;
				outline: none;
				border: 0;
			}

			&:active {
				border: none;
				outline-color: transparent;
				outline: none;
				border: 0;
			}
		}
	}
}

.modal-backdrop.fade {
	z-index: 99;
}

.no-display {
	display: none;
}

// .navigation-menu-holder {

//     padding: 10px 0px;
// }



#breadcrumb-list {
	position: relative;
	z-index: 1;
}

.news-breadcrumb-holder {
	text-align: left;
	padding: 20px 0px;

	.breadcrumbs ul {
		margin-left: 0px;
	}
}

.breadcrumb-trail.breadcrumbs ul {
	li {
		display: inline-block;
		color: white;
		font-size: 20px;

		a {
			color: $secondary-color;
			padding-right: 5px;
			font-weight: bold;

			&:after {
				content: "\f054 ";
				padding-left: 5px;
				font-family: fontawesome;
				font-weight: bold;
				color: $secondary-color;
			}
		}
	}

	.trail-end {
		color: #fff;
		font-size: 16px;
		font-weight: bold;
	}
}

.sub-menu {
	position: absolute;
	top: 100%;
	left: 0%;
	padding: 10px 0;
	z-index: 1000;
	min-width: 200px;
	width: 100%;
	padding: 20px;
	text-align: left;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	background-clip: padding-box;
	display: none;
	background-color: white;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;

	&.active {
		position: relative;
		display: block;
		opacity: 1;
		visibility: visible;
		box-shadow: none;
		top: 0;
	}
}




.entry-container {
	a {
		display: inline-block;
		color: $primary-color;
		padding: 0;
	}
}


.menu-item-has-children:hover .sub-menu {
	opacity: 1;
	visibility: visible;
	display: block;
}

.menu-item-has-children {
	.dropdown-toggle {
		width: auto;
		color: white;
		background-color: transparent;
		border: none;
	}
}

.page-header {
	border-bottom: 0;

}

#mobile-nav-toggle {
    position: fixed;
    right: 0px;
    z-index: 9998;
    top: 15%;

    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
	transition: all 0.3s linear;
	&.cross{
		top: 0%;
		box-shadow: none;
	}
}

@media only screen and (max-width: 767px){
#mobile-nav-toggle {
    
    
	
	box-shadow: 2px 2px 10px 2px #ddd;

	width: 100px;
	background-color: white;
    
}
}
@media (max-width: 960px){
#mobile-nav-toggle {
	display: inline-block;
    left: 0;
    
    
}
.mobile-nav-active {
	#mobile-nav-toggle {
		left: 50%;
	}
}
}


#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

#mobile-nav {
	position: fixed;
	top: 0;
	padding-top: 18px;
	bottom: 0;
	z-index: 9997;
	background: #fff;
	left: -260px;
	width: 260px;
	overflow-y: auto;
	transition: 0.4s;
  
	ul {
	  padding: 0;
	  margin: 0;
	  list-style: none;
  
	  li {
		position: relative;
  
		a {
		  color: #000;
		  font-size: 13px;
		  text-transform: uppercase;
		  overflow: hidden;
		  padding: 10px 22px 10px 15px;
		  position: relative;
		  text-decoration: none;
		  width: 100%;
		  display: block;
		  outline: none;
		  font-weight: 400;
  
		  &:hover {
			color: #fff;
		  }
		}
  
		li {
		  padding-left: 30px;
		}
	  }
  
	  .menu-has-children {
		i {
		  position: absolute;
		  right: 0;
		  z-index: 99;
		  padding: 15px;
		  cursor: pointer;
		  color: #fff;
  
		  &.fa-chevron-up {
			color: #129dbc;
		  }
		}
  
		li a {
		  text-transform: none;
		}
	  }
  
	  .menu-item-active {
		color: #fff;
	  }
	}
  }
  
  #mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 997;
	top: 0;
	left: 0;
	position: fixed;
	background: #e8e8e8b3;
	display: none;
  }
  .mobile-nav-active{
	#mobile-nav {
		left: 0;
	  }
  } 